<p id="notice"><%= notice %></p>

<h1>Nurseries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Business hours</th>
      <th>Capacity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nurseries.each do |nurseries| %>
      <tr>
        <td><%= nurseries.name %></td>
        <td><%= nurseries.address %></td>
        <td><%= nurseries.phone %></td>
        <td><%= nurseries.business_hours %></td>
        <td><%= nurseries.capacity %></td>
        <td><%= link_to 'Show', nurseries %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
